<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802109616085-8ao9569d4m5t084ubql8lnh3oauvnnqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802109616085-8ao9569d4m5t084ubql8lnh3oauvnnqg</string>
	<key>API_KEY</key>
	<string>AIzaSyBRdHx4GVAE57DSDhnLez6WJUWcygBx3pE</string>
	<key>GCM_SENDER_ID</key>
	<string>802109616085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>A00827487.App06-TODO-Firebase</string>
	<key>PROJECT_ID</key>
	<string>app06-fe301</string>
	<key>STORAGE_BUCKET</key>
	<string>app06-fe301.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802109616085:ios:c55130fdeb327bc886175c</string>
</dict>
</plist>